doctype html
html.no-js(lang='en', dir='ltr')
  head
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='icons/icon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
    title=title
    meta(name='description', content='Plataforma de Video')
    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    link(rel='stylesheet', href='app.css')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet')
    meta(http-equiv='Content-Type', content='text/xml; charset=UTF-8')
  body
    section#main-container    
    // Import jQuery before materialize.js
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
    // FIREBASE
    script(src='https://www.gstatic.com/firebasejs/4.6.2/firebase.js')
    // MODALS O POP UPS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
    script(type='text/javascript', src='app.js')

